html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title INDEX
  body
    div.container(data-pageId="top")
      main.main
        div.images
          div.images-item
            img.images-item-img(src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Vervet_Monkey_%28Chlorocebus_pygerythrus%29.jpg")
          div.images-item
            img.images-item-img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Bonobo_cincyzoo.jpg/1200px-Bonobo_cincyzoo.jpg")
          div.images-item
            img.images-item-img(src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Lightmatter_chimp.jpg")
          div.images-item
            img.images-item-img(src="https://qph.fs.quoracdn.net/main-qimg-6afee0b8b28ab2e67e4ec645b30cbee9")
        canvas#canvas.canvas
