body
  height 5000px

.Page
  padding 60px

.yoyo-box
  width 100px
  height 100px
  background-color red
  margin-bottom 80px

.timeline
  width 100px
  height 100px
  background-color blue
  margin-bottom 80px

.fromTo
  width 100px
  height 100px
  background-color green
  margin-bottom 80px

.getProps
  width 100px
  height 100px
  background-color orange
  margin-bottom 80px

.scrollTrigger
  width 500px
  height 50px
  background-color #222
  margin-bottom 50px

.scrollTarget
  width 100px
  height 100px
  background-color #eee
  margin-bottom 80px

.staggerText
  margin 80px
  width 60%

.staggerTextBody
  font-size 20px
  margin-bottom 20px